.card-columns {
  grid-column-gap: 0.5rem;
  column-gap: 1rem;

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.realization-card {
  margin-bottom: 2.5%;
  .card {
    overflow: hidden;
    border: none;
    background: black;

    .layer {
      position: absolute;
      //background: linear-gradient(90.37deg, #FF7F0A 0.3%, #FF00FF 72.18%, #8D0267 99.66%), #FF00FF;
      //background: linear-gradient(90deg, #8D0267 49.78%, #FF00FF 91.19%), #FF00FF;
      //background: linear-gradient(90.37deg, #FF00FF 0.3%, #8D0267 78.93%, #56013F 99.66%);
      background: linear-gradient(90.37deg, #ff7f0a 0.3%, #ff00ff 99.66%);
      height: 100%;
      width: 100%;
      z-index: 100;
      top: calc(100% - 4px);
      transition: 0.5s ease-in-out;
    }

    .card-img {
      position: relative;
      z-index: 101;
    }

    .card-body {
      position: relative;
      z-index: 101;

      .card-title {
        color: $magentaColor;
        transition: 0.6s ease-in-out;
      }

      .card-text {
        color: $lightColor;
        transition: 0.5s ease-in-out;
        font-size: 12px;
      }
    }

    .card-footer {
      z-index: 101;
      border: none;

      .btn {
        border: none;
        height: 2.5em;

        &:focus {
          box-shadow: none;
        }

        .fa-chevron-circle-right {
          height: 2em;
          width: 2em;
          transform: rotate(0deg);
          transition: all 0.5s ease-in;
          transition-delay: 0.7s;
        }
      }
    }

    &:hover {
      .layer {
        top: 0;
      }
      .card-title {
        color: $lightColor;
      }
      .card-text {
        color: $darkColor;
      }
      .card-footer {
        .btn {
          .fa-chevron-circle-right {
            transform: rotate(360deg);
            height: 2.5em;
            width: 2.5em;
          }
        }
      }
    }
  }
}

.gallery-item{
  position: relative;
}


#opinions-wrapper{

  p {
    margin: 0;
    padding: 0;
  }

@include media-breakpoint-up(md) {
  .opinion-element {
    position: relative;

    &:before {
      content: "";
      display: block;
      margin-top: 100%;
    }
    .opinion-shape {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 3px;
      background-color: $magentaColor;

      .opinion-shape-circle{
        height: 94%;
        width: 94%;
        background-color: white;
        border-radius: 50%;
        margin: 3%;
      }
    }
    .opinion-text {
      position: absolute;
      display: flex;
      top: 0;

      .opinion-content{
        overflow-y: auto;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        max-height: 50%;

        &::-webkit-scrollbar {
          display: none;  /* Safari and Chrome */
        }

        p:hover{
          //transform: translateY(calc(200px-100%));
        }
      }
    }
  }

  .opinion-element:nth-child(1) {
      .opinion-shape {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-right-radius: 50%;
        background-color: $magentaColor;
      }
  }
  .opinion-element:nth-child(2) {
    .opinion-shape {
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        background-color: $purpleColor;
    }
  }
  .opinion-element:nth-child(3) {
    .opinion-shape {
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: $darkColor;
    }
  }
  .opinion-element:nth-child(4) {
    .opinion-shape {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: $concreteColor;
    }
  }
}
}
