$magentaColor: #FF00FF;
$purpleColor:#8D0267;
$darkColor: #2E002E;
$concreteColor: #686769;
$lightGreyColor: #B5B3B5;
$lightColor: #F5F5F5;
$orangeColor: #FF6600;
$darkGreyColor: #302f2f;
$darkGreyColorTransparent: rgb(15,15,15,0.8);

$primary:    $magentaColor;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
