<div class="container">
    <div>
      <a href="/testapp/adminPanel/realizations">Zarządzaj Realizacjami</a>
      <!-- <button id="realizationsButton" type="button" name="button">Zarządzaj Realizacjami</button> -->
    </div>
    <div>
      <button id="opinionsButton" type="button" name="button">Zarządzaj Opiniami</button>
    </div>
    <div>
      <button id="offerButton" type="button" name="button">Zarządzaj Ofertą</button>
    </div>
    <div>
      <button id="dataButton" type="button" name="button">Zarządzaj Danymi</button>
    </div>

</div>
