<div class="container">
    <div>
      <a href="/testapp/adminPanel/realizations">Zarządzaj Realizacjami</a>
      <!-- <button id="realizationsButton" type="button" name="button">Zarządzaj Realizacjami</button> -->
    </div>
    <div>
      <a href="/testapp/adminPanel/opinions">Zarządzaj Opiniami</a>
      <!-- <button id="realizationsButton" type="button" name="button">Zarządzaj Realizacjami</button> -->
    </div>


</div>
