<div class="container d-flex min-vw-100 min-vh-100 justify-content-center" style="background-color: white;">
  {{>admin/header}}
  <div class="row my-auto">
    <div class="col-6 p-2 mx-auto text-center">
      <a class="btn btn-block" href="/testapp/adminPanel/realizations">Zarządzaj Realizacjami</a>
      <!-- <button id="realizationsButton" type="button" name="button">Zarządzaj Realizacjami</button> -->
    </div>
    <div class="w-100"></div>
    <div class="col-6 p-2 mx-auto text-center">
      <a class="btn btn-block" href="/testapp/adminPanel/opinions">Zarządzaj Opiniami</a>
      <!-- <button id="realizationsButton" type="button" name="button">Zarządzaj Realizacjami</button> -->
    </div>
  </div>

</div>
