<div class="container">
  <div class="title row">
    {{title}}
  </div>

  <form method="POST">
    <div class="container">

      <div class="username row">
        <label class="col-xs-12 col-sm-6" for="">Login: </label>
        <input id="username" class="col-xs-12 col-sm-6" type="text" name="username" value="" placeholder="login">

      </div>
      <div class="password row">
        <label class="col-xs-12 col-sm-6" for="">Password</label>
        <input id="password" class="col-xs-12 col-sm-6" type="text" name="password" value="" placeholder="password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="signIn">Zaloguj</button>
  </form>
  <div class="warinings">
    {{message}}
  </div>
</div>
