<div class="container">
  <div class="title row">
    Admin Panel Sign in {{title}}
  </div>

  <form method="POST">
    <div class="container">
      <div class="username row">
        <label class="col-xs-12 col-sm-6" for="">Login: </label>
        <input class="col-xs-12 col-sm-6" type="text" name="" value="" placeholder="login">
      </div>
      <div class="password row">
        <label class="col-xs-12 col-sm-6" for="">Password</label>
        <input class="col-xs-12 col-sm-6" type="text" name="" value="" placeholder="password">
      </div>
    </div>
  </form>
  <div class="warinings">

  </div>
</div>
