<header>
    <h1 class="logo">This is header</h1>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Oferta</a>
            </li>
            <li>
                <a href="/">Realizacje</a>
            </li>
            <li>
                <a href="/">Opinie</a>
            </li>
            <li>
                <a href="/">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>
