<div class="title">
  Admin Panel Sign in
</div>
<form method="POST">
  <div>
    <div class="username">
      <label for="">Login: </label>
      <input type="text" name="" value="" placeholder="login">
    </div>
    <div class="password">
      <label for="">Password</label>
      <input type="text" name="" value="" placeholder="password">
    </div>
  </div>
</form>
<div class="warinings">

</div>
