//@import "~bootstrap/scss/bootstrap";

@import "styles/fonts.scss";
@import "styles/colors.scss";
@import "styles/animations.scss";

@import "styles/headers.scss";
@import "styles/navbar.scss";

@import "styles/images.scss";
@import "styles/divider.scss";
//rgb(177, 177, 177) ;




//---------------------home section



$enable-responsive-font-sizes: true;
@import "bootstrap/scss/bootstrap.scss";
@import "styles/sectionsBg.scss";
@import "styles/button.scss";
@import "styles/carousels.scss";
@import "styles/lists.scss";
@import "styles/cards.scss";
//------smooth scroll when navigate to section using links
html {
  scroll-behavior: smooth;
}

body {
  //background-image: url("./images/concrete-bg.jpg");
  background-color: $concreteColor;
  font-family: $bodyFont;
  color: $darkColor;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  z-index: 0;
  overflow-x: hidden;
}

#home {
  color: $darkColor;
}
