<header>
  <nav id="sun-navbar" class="navbar fixed-top navbar-expand-md navbar-light " >
    <a class="navbar-brand" href="www.sun-home.com.pl">
      <img id="logo" src="images/logo-dark.svg" height="50px" alt="sun-home-logo" alt="" loading="lazy"/>
    </a>
    <button class="navbar-toggler p-0 m-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse d-flex-md justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link sun-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link sun-link" href="#offer">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sun-link" href="#realizations">Realizacje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sun-link" href="#opinions">Opinie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sun-link" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
