<section id="home" class="section-no-overflow">
  <div id="home-container" class="d-flex flex-column h-100">
    <div class="home-background"></div>
    <div class="overlay"></div>

    <div class="home-questions-wrapper home-text col mx-auto slide">
      <div id="carouselQuestions" class="carousel text-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <h2>W Twoim mieszkaniu, domu, biurze, firmie szykują się duże zmiany?</h2>
          </div>
          <div class="carousel-item">
            <h2>Chcesz powierzyć remont doświadczonym fachowcom?</h2>
          </div>
          <div class="carousel-item">
            <h2>Szukasz firmy, od której oczekujesz dokładności i doświadczenia?</h2>
          </div>
        </div>
      </div>
    </div>



    <div class="home-sentence-wrapper home-text col-sm-8 col-md-6 mx-auto text-center justify-content-center align-self-center">
      <h4 class="">Zainteresuj się naszą ofertą - Sun Home to gwarancja najlepszej jakości usług remontowo-budowlanych, wykonanych zgodnie z Twoimi oczekiwaniami</h4>
    </div>

    <div class="home-location-wrapper home-text col mx-auto text-center">
      <div class="h4">
        Działamy na terenie Trójmiasta i Kaszub
      </div>
    </div>
  </div>

  {{>main/divider}}
</section>
