<section id="home" class="section-no-overflow">
  <div id="home-container" class="h-100">
    <div class="home-background"></div>
    <div class="overlay"></div>

    <div class="d-flex align-items-start flex-column h-100 py-5">

        <div class="home-text slide mt-auto w-50 h-25">
          <!-- <div id="carouselQuestions" class="carousel text-right" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <h3>W Twoim mieszkaniu, domu, biurze, firmie szykują się duże zmiany?</h3>
              </div>
              <div class="carousel-item">
                <h3>Chcesz powierzyć remont doświadczonym fachowcom?</h3>
              </div>
              <div class="carousel-item">
                <h3>Szukasz firmy, od której oczekujesz dokładności i doświadczenia?</h3>
              </div>
            </div>
          </div> -->
          <h3 class="text-center">
            <div class="typewrite px-2" data-period="500" data-type='[
            "W Twoim mieszkaniu, domu, biurze, firmie szykują się duże zmiany?",
            "Chcesz powierzyć remont doświadczonym fachowcom?",
            "Szukasz firmy, od której oczekujesz dokładności i doświadczenia?" ]'>
              <span class="wrap"></span>
            </div>
          </h3>
        </div>



        <div class="home-text px-2 py-3 w-50">
          <h4 class="text-center">Zainteresuj się naszą ofertą - Sun&nbspHome to gwarancja najlepszej jakości usług remontowo-budowlanych, wykonanych zgodnie z Twoimi oczekiwaniami</h4>
        </div>


      <div class="home-text mt-auto mx-auto">
        <h3 class="text-center">
          Działamy na terenie Trójmiasta i Kaszub
        </h3>
      </div>


  </div>
</div>

  {{>main/divider}}
</section>
