<section id="offer" class="section-adjust">
  <div class="row row-cols-1 row-cols-md-2 justify-content-center overflow-hidden no-gutters min-vh-100">
    <!-- first column -->
    <div class="d-flex flex-column col-md-4 col-xl-3 dark-background justify-content-center pt-5">
      <!-- row in first column -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 no-gutters pt-5">
        <!-- <h4 class="pt-5">offer</h4> -->
        <div class="align-self-center text-center px-3 ">
          <small>Jesteśmy rodzinną, pokoleniową firmą działającą na rynku od kilku lat. Jednakże, nasza firma ma korzenie dwudziestoletnie umocowane w dużej firmie deweloperskiej, w której zdobywaliśmy doświadczenie. Przez ten czas stworzyliśmy firmę, z którą sami chcielibyśmy robić interesy.</small>
        </div>
        <div class="align-self-center p-1 pt-2 pt-md-4 pb-2" id="distinction-list">
          <ul class="list-unstyled text-center m-0">
            <li>doświadczenie</li>
            <li>nowoczesne techniki</li>
            <li>dopasowana oferta</li>
            <li>indywidualne podejście</li>
            <li>otwartość</li>
            <li>dbałość o detale</li>
            <li>zadowolenie i komfort klienta</li>
          </ul>
        </div>
      </div>
      <!-- end of row -->
    </div>
    <!-- end of first column -->

    <!-- second column -->
    <div class="d-flex flex-column col-md-8 col-xl-9 justify-content-center pt-md-5">
      <!-- carousel -->
      <div id="offer-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="dist/images/aranzacja.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/aranzacja.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/aranzacja.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#offer-carousel" data-slide-to="0" class="active">Aranzacja wnętrz</li>
          <li data-target="#offer-carousel" data-slide-to="1">Prace wykończeniowe</li>
          <li data-target="#offer-carousel" data-slide-to="2">Prace budowlane</li>
          <li data-target="#offer-carousel" data-slide-to="3">Wykończenia stanów deweloperskich</li>
          <li data-target="#offer-carousel" data-slide-to="4">Kompleksowe remonty</li>
          <li data-target="#offer-carousel" data-slide-to="5">Wykonanie stanów surowych</li>
          <li data-target="#offer-carousel" data-slide-to="6">Drobne zlecenia</li>
        </ol>
      </div>
      <!-- carousel end -->
    </div>
    <!-- end of second column -->
  </div>
    {{>main/divider}}
</section>
