<section id="opinions" class="min-vh-100 pt-5">

<h4 class="d-flex col-6 mx-auto font-weight-light pt-5 justify-content-center text-center">Uważamy, że najlepszą reklamą naszych usług są pozytywne opinie oraz rekomendacje Klientów</h4>

<div id="opinions-wrapper" class="d-flex flex-wrap w-100 mx-auto h-100 col-md-8 col-lg-7 col-xl-5 pb-5">
  {{#opinions}}
  <!-- opinion element -->
    <div class="opinion-element m-1 p-0 col-12 col-sm-7 col-md-6 h-100 mx-auto">

      <!-- background shape/ height equal to width by :before element-->
      <div class="opinion-shape">
        <div class="opinion-shape-circle">

        </div>
      </div>

      <!-- icon, text and aotuhor of opinion -->
      <div class="d-flex opinion-text flex-column py-3 px-2 p-md-4 h-100 justify-content-center">
        <i class="fas fa-feather align-self-center"></i>
        <small class="opinion-content text-center font-weight-bold p-0 pt-md-2 text-truncate text-wrap">{{{this.sanitizedHtml}}}</small>
        <small class="text-right text-md-center pr-3 font-weight-light text-capitalize pt-md-2">{{this.author}}</small>
      </div>

    </div>
    <!-- end of opinon element -->
  {{/opinions}}
</div>

{{>main/divider}}
</section>
