<section id="opinions" class="min-vh-100">

<h6>opinions</h6>

<div id="opinions-wrapper" class="d-flex w-50 mx-auto">
  {{#opinions}}
    <div class="opinion-element col-12 col-md-6">
      <div class="">
        <svg width="100%" height="100%" viewBox="0 0 249 248" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="124.173" width="124.827" height="124" fill="#FF00FF"/>
          <ellipse cx="124.173" cy="124" rx="124.173" ry="124" fill="#FF00FF"/>
          <ellipse cx="124.102" cy="123.947" rx="111.102" ry="110.947" fill="#F5F5F5"/>
          <ellipse cx="118.913" cy="40.4123" rx="3.91304" ry="4.11765" fill="#B5B3B5"/>
          <ellipse cx="129.087" cy="40.4123" rx="3.91304" ry="4.11765" fill="#B5B3B5"/>
          <path d="M121.261 40.4124C120.844 45.9037 119.968 48.0375 117.348 50.2947" stroke="#B5B3B5" stroke-width="4" stroke-linecap="round"/>
          <path d="M131.435 40.4124C131.018 45.9037 130.142 48.0375 127.522 50.2947" stroke="#B5B3B5" stroke-width="4" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="">
        <small>{{{this.sanitizedHtml}}}</small>
        <small>{{this.author}}</small>
      </div>
    </div>
  {{/opinions}}
</div>

{{>main/divider}}
</section>
