<div class="form-group">
  <label for="title">Tytuł</label>
  <input required type="text" name="title" id="r-title" class="form-control">
</div>
<div class="form-group">
  <label for="content">Tekst</label>
  <textarea name="content" id="r-content" class="form-control"></textarea>
</div>
<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea name="markdown" id="r-markdown" class="form-control"></textarea>
</div>

<a href="../realizations" class="btn btn-danger">Anuluj</a>
<button type="submit" class="btn btn-primary">Dodaj</button>
