
<div class="form-group">
  <label for="content">Opinia</label>
  <textarea required value="{{opinon.content}}" name="content" id="r-content" class="form-control">{{opinion.content}}</textarea>
</div>
<div class="form-group">
  <label for="author">Podpis</label>
  <input required value="{{opinion.author}}" type="text" name="author" id="o-author" class="form-control">
</div>

<a href="../opinions" class="btn btn-danger">Anuluj</a>
<button type="submit" class="btn btn-primary">Zapisz</button>
