<header>
  <nav id="sun-navbar" class="navbar sticky-top navbar-expand-md navbar-light " >
    <a class="navbar-brand" href="www.sun-home.com.pl">
      <img id="logo" src="/images/logo-dark.svg" height="50px" alt="sun-home-logo" alt="" loading="lazy"/>
    </a>
    <a class="btn ml-auto" href="">Wyloguj</a>
  </nav>
</header>
