<header>
  <nav id="sun-navbar" class="navbar sticky-top navbar-expand-md navbar-light " >
      <a class="navbar-brand w-50 w-md-25" href="www.sun-home.com.pl">
        <img id="logo" class="img-fluid" src="/images/logo-dark.svg" height="50px" alt="sun-home-logo" alt="" loading="lazy"/>
      </a>
      <a class="btn btn-sm ml-auto" href="/testapp/adminPanel">Strona główna panelu</a>
      <a class="btn btn-sm ml-auto" href="">Wyloguj</a>

  </nav>
</header>
