<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- <link rel="preload" as="font" type="font/woff2"
          href="../../fonts/muli-v12-latin-regular.woff2" crossorigin> -->
   <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/> -->
   <link href="/main.css" rel="stylesheet">
   <script src="https://kit.fontawesome.com/88ac6b1933.js" crossorigin="anonymous"></script>
  </head>
  <body data-spy="scroll" data-target="#sun-navbar" data-offset="100">

    {{{ body }}}

    <script src="/main-bundle.js"></script>
  </body>
</html>
